.Conteiner{
    position: relative;
    display: flex;justify-content: center;align-items: center;
    border: 2px solid transparent;
    padding: 0.9em;gap: 0.9em;
    background-color: gray;
    width: 100%;
}
.home{
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 1.3em;
    transition: 1s;
    top: center; right: 60%;
}
.cadastrar{
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 1.3em;
    transition: 1s;
    top: center; right: 50%;
}
.produtos{
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 1.3em;
    transition: 1s;
    top: center; right: 40%;
}
a:hover{
    position: absolute;
    transition: 1s;
    scale: 1.2;
    color: black;
}
